# ===================================================
#      EXEMPLO DE VARIÁVEIS DE AMBIENTE
# ===================================================
# Para rodar o projeto, renomeie este arquivo para .env
# e preencha com os valores adequados para o seu ambiente.

# --- Banco de Dados ---
# URL de conexão para o MongoDB.
# Em ambiente Docker Compose, 'mongo' é o nome do serviço do container do banco.
SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/energizeplus

# --- Servidor Web ---
# Porta em que a aplicação vai rodar dentro do container.
SERVER_PORT=8080

# --- Segurança (Exemplo) ---
# Chave secreta para geração de tokens JWT. Em produção, usar um valor longo e aleatório.
JWT_SECRET=secret

